.images {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.image {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  padding: 5px;
  background-color: #4f6f73;
  justify-content: center;
  border-radius: 1rem;
  margin-right: 5px;
  margin-bottom: 5px;
}
.plus {
  display: flex;
  background-color: #4f6f73;
  align-self: center;
  border-radius: 1rem;
  height: 20px;
  width: 200px;
  justify-content: center;
}
img {
  max-width: 375px;
  max-height: 375px;
  border-radius: 0.5rem;
}
